[Unit]
Description=Oslo Daemon live network
After=network.target

[Service]
Type=simple
User=oslocurrency
WorkingDirectory=/var/oslocurrency/Oslo
ExecStart=/usr/bin/oslo_node --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
