[Unit]
Description=Oslo Daemon beta network
After=network.target

[Service]
Type=simple
User=oslocurrency
WorkingDirectory=/var/oslocurrency/OsloBeta
ExecStart=/usr/bin/oslo_node-beta --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
